<div class="c-sound--default" data-js-module="sound">
	My custom sound component.

	<button data-js-item="sound-btn" class="sound-btn">Push the button</button>
	<audio class="sound__src is-hidden" data-js-item="sound-src">
		<source src="http://techslides.com/demos/samples/sample.mp3" type="audio/mp3">
	</audio>

	{{> counter }}
</div>
